---
import scales from "~/common/scales";
import { Link } from "~/components/Link";
import { ScalePicker } from "~/components/ScalePicker";
import ScalePage from "~/components/pages/ScalePage";
import Layout from "~/layouts/Layout.astro";
export function getStaticPaths() {
  return scales.map(scale => ({
    params: { key: scale.key, mode: scale.mode },
  }));
}

const { mode, key } = Astro.params;
const thisScale = scales.find(scale => scale.key === key && scale.mode === mode);
if (!thisScale || !thisScale.notes || !thisScale.key) {
  return Astro.redirect("/404");
}
---

<Layout title={thisScale.name}>
  <main class="container mx-auto px-2 font-serif">
    <header class="mb-4 mt-12 flex w-full justify-center sm:mt-8">
      <ScalePicker isHeading={true} text={`${thisScale.name} Scale`} client:load />
    </header>
    <ScalePage scale={thisScale} client:load />
  </main>

  <div class="absolute left-0 top-0 m-4">
    <Link href="/">Back Home</Link>
  </div>
</Layout>
